---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#logosvg {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 2em;
  margin: 0 -2.5em 0 0;
  padding: 0;
  .top-stroke {
    fill: #00adb5;
  }
  .bottom-stroke {
    fill: #a9dde0;
  }
}
